@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Indie+Flower&family=Patrick+Hand&family=Rock+Salt&family=Zeyada&display=swap');
 :root {
    --rosado: #d40245;
    --rosadoOscuro: #61001f;
    --azul: #0063b4;
    --azulOscuro: #002341;
    --amarillo: #ff6a06;
    --amarilloOscuro: #853500;
}

body {
    font-family: 'Annie use your telescope';
}

#presentation {
    font-family: 'Annie use your telescope';
    margin-top: 50px;
    font-size: 35px;
    background-color: rgba(255, 94, 0, 0.466);
}

#contactInfo {
    font-size: 30px;
    border: solid;
    border-radius: 10px;
    width: fit-content;
    position: relative;
    top: 20px;
    margin: auto;
    display: flex;
    color: rgba(0, 0, 0, 0.712);
    justify-content: center;
}

#contactInfo li {
    list-style: none;
    color: rgb(0, 0, 0);
}

#contactInfo a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#git {
    margin-left: -12px;
    margin-right: -8px;
}

#pd {
    display: flex;
    font-family: 'Zeyada';
    font-size: 25px;
    text-align: end;
    margin-top: 10px;
}

#pd p {
    width: 25vw;
}

#pd a {
    color: black;
}

#pd img {
    margin-top: 30px;
    position: relative;
    z-index: -100;
    margin-left: -25px;
    transform: rotate(-20deg);
}

@media (max-width:425px) {
    .note {
        margin-right: 10px;
    }
    #pd img {
        height: 110px;
        margin-left: 5px;
    }
}